@font-face {
  font-family: "CCSymbols";
  src: url("https://decolonialvexillology.github.io/fonts/ccsymbols/CCSymbols.woff") format("woff"),
       url("https://decolonialvexillology.github.io/fonts/ccsymbols/CCSymbols.woff2") format("woff2"),
       url("https://decolonialvexillology.github.io/fonts/ccsymbols/CCSymbols.ttf") format("truetype");
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

header a {
  text-decoration: inherit;
}

.tools {
  float: right;
}

footer {
  text-align: center;
}

.copyright {
  opacity: 0.5;
}

.ccsymbols {
  font-family: "CCSymbols", sans-serif;
}

hr {
  border: 0.5px solid auto;
}

/* The side navigation menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.settings {
  background-color: white;
  color: black;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  font-size: 30px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
